li{
    overflow: auto;
}

.high{
    color: white;
    background-color: red;
}

.medium{
    color: black;
    background-color: goldenrod;
}

.low{
    color: black;
    background-color: lightgreen;
}

.badge{
    font-size: 100%;
}

#weather-icon{
    max-width: 50px;
    max-height: 50px;
}