<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sports</title>

<link rel="stylesheet" href="../css/sportstyle.css">
<link rel="shortcut icon" href="../favicon.ico" />

<style>
.mani {
  position: inherit;
   top: 38px;
   right: 20px;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://use.fontawesome.com/cdf13a2394.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
<script src="../js/sports.js"></script>
</head>
<body ng-app="newsApp" ng-controller="newsCtrl" onload="loadfun()">
  <div id="loader">
  <div class="container">
  <div class="top"> </div>
    <div class="left"></div>
  </div>
  <div class="load" id="Load"></div>
  </div>

  <header>
     <div class="sidebutton" onclick="opencloseleftNav()">
       <div class="bar1"></div>
       <div class="bar2"></div>
       <div class="bar3"></div>
     </div>
    <div class="search bar">
    </div>
    <div class="mani">
      <a href="https://www.manisankar.co.in" class="jumba"> <-- back to resume </a>
    </div>
  </header>

<!-- side navigation bar -->
<div id="leftSidenav" class="left-sidenav">
  <ul id="anchors">
    <li>
      <a href="../index.html">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <p>Top News</p>
      </a>
    </li>
    <li>
      <a href="business.html">
        <i class="fa fa-building-o" aria-hidden="true"></i>
        <p>Business</p>
      </a>
    </li>
    <li>
      <a href="technology.html">
        <i class="fa fa-th" aria-hidden="true"></i>
        <p>Technology</p>
      </a>
    </li>
    <li>
      <a href="entertainment.html">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <p>Entertainment</p>
      </a>
    </li>
    <li>
      <a href="sports.html">
        <i class="fa fa-bicycle" aria-hidden="true"></i>
        <p>Sports</p>
      </a>
    </li>
    <li>
      <a href="science.html">
        <i class="fa fa-flask" aria-hidden="true"></i>
        <p>Science</p>
      </a>
    </li>
    <hr \>
    <li>
      <p style="font-size: 12px; text-align: center">
        powered by
        <a href="https://newsapi.org/" target="_blank" style="text-decoration: underline">News API</a>
      </p>
    </li>
  </ul>
</div>

<div class="sports" id="Sports">

  <div class="bbc" id="bbctop">
    <h2>BBC Sports <span style="color: blueviolet">top</span></h2>
    <ul ng-repeat="x in bbcstinfo">
      <li>
          <img src="{{ x.urlToImage }}" alt=" image " class="artimage">
        <div class = "coolbox">
        <p class="textlist"><strong>{{ x.title }}</strong></p>

          <p class="textlist">{{ x.description }}</p>
          <p class="textlist">Source: <strong>{{ bbcstsou.source }}</strong></p>

        <p class="textlist" style="">Published At: {{ x.publishedAt | date : 'dd/MM/yyyy HH:mm a' }}</p>
        <a href="{{x.url}}" class="urlink" target="_blank">Read full article --></a>
      </div>
      </li>
    </ul>
  </div>


  <!-- era starts   -->

  <div class="espn" id="espntop" style="padding-top: 20px; ">
    <h2>ESPN <span style="color: blueviolet">top</span></h2>
    <ul ng-repeat="x in espntinfo">
      <li>
          <img src="{{ x.urlToImage }}" alt=" image " class="artimage">
        <div class = "coolbox">
        <p class="textlist"><strong>{{ x.title }}</strong></p>

          <p class="textlist">{{ x.description }}</p>
          <p class="textlist">Source: <strong>{{ espntsou.source }}</strong></p>

        <p class="textlist" style="">Published At: {{ x.publishedAt | date : 'dd/MM/yyyy HH:mm a' }}</p>
        <a href="{{x.url}}" class="urlink" target="_blank">Read full article --></a>
      </div>
      </li>
    </ul>
  </div>

  <div class="espncric" id="espncrictop" style="padding-top: 20px; ">
    <h2>ESPN CRIC Info <span style="color: blueviolet">top</span></h2>
    <ul ng-repeat="x in crictinfo">
      <li>
          <img src="{{ x.urlToImage }}" alt=" image " class="artimage">
        <div class = "coolbox">
        <p class="textlist"><strong>{{ x.title }}</strong></p>

          <p class="textlist">{{ x.description }}</p>
          <p class="textlist">Source: <strong>{{ crictsou.source }}</strong></p>

        <p class="textlist" style="">Published At: {{ x.publishedAt | date : 'dd/MM/yyyy HH:mm a' }}</p>
        <a href="{{x.url}}" class="urlink" target="_blank">Read full article --></a>
      </div>
      </li>
    </ul>
  </div>

  <div class="sportsbible" id="sblatest" style="padding-top: 20px; ">
    <h2>The Sports Bible <span style="color: blueviolet">latest</span></h2>
    <ul ng-repeat="x in sbtinfo">
      <li>
          <img src="{{ x.urlToImage }}" alt=" image" class="artimage">
        <div class = "coolbox">
        <p class="textlist"><strong>{{ x.title }}</strong></p>

          <p class="textlist">{{ x.description }}</p>
          <p class="textlist">Source: <strong>{{ sbtsou.source }}</strong></p>

        <p class="textlist" style="">Published At: {{ x.publishedAt | date : 'dd/MM/yyyy HH:mm a' }}</p>
        <a href="{{x.url}}" class="urlink" target="_blank">Read full article --></a>
      </div>
      </li>
    </ul>
  </div>

  <div class="foxs" id="foxstop" style="padding-top: 20px; ">
    <h2>Fox Sports <span style="color: blueviolet">top</span></h2>
    <ul ng-repeat="x in foxtinfo">
      <li>
          <img src="{{ x.urlToImage }}" alt=" image" class="artimage">
        <div class = "coolbox">
        <p class="textlist"><strong>{{ x.title }}</strong></p>

          <p class="textlist">{{ x.description }}</p>
          <p class="textlist">Source: <strong>{{ foxtsou.source }}</strong></p>

        <p class="textlist" style="">Published At: {{ x.publishedAt | date : 'dd/MM/yyyy HH:mm a' }}</p>
        <a href="{{x.url}}" class="urlink" target="_blank">Read full article --></a>
      </div>
      </li>
    </ul>
  </div>


<!-- ERa Stops -->


  <div class="navbox">
    <p class="toi">BBC Sports
      <a href="#bbctop" style="text-align: right">Top</a>

    </p>
    <p class="toi">ESPN
      <a href="#espntop" style="text-align: right">Top</a>
    </p>
    <p class="toi">ESPN CRIC Info
      <a href="#espncrictop" style="text-align: right">Top</a>
    </p>
    <p class="toi">The Sports Bible
      <a href="#sblatest" style="text-align: right">Latest</a>
    </p>
    <p class="toi">Fox Sports
      <a href="#foxstop" style="text-align: right">Top</a>
    </p>


  </div>
</div>

</body>
</html>
